<header class="flex justify-between items-center w-full shadow bg-emerald-900 px-5 py-3">
  <h1 class="text-xl text-white">Chat</h1>
  <button class="videoCallBtn bg-white text-emerald-900 font-bold px-4 py-2 rounded">Video Call</button>
</header>