*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}
body{
    padding: 8px 12px;
}
#main{
    padding: 8px 12px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
}
span{
    color: crimson;
}
h1{
    display: flex;
    justify-content: center;
    color: green;
}
.anchor{
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding-bottom: 5px;
}
a{
    text-decoration: none;
    color: blue;
}