<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <form class="m-10" action="/upload" method="post" enctype="multipart/form-data">
    <input class="bg-blue-500" type="file" name="image" />
    <input class="bg-blue-500 ml-10 px-3" type="submit" value="upload file">
  </form>
</body>
</html>