<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/chatroom.css">
</head>

<body>
  <div class="w-full h-screen flex flex-col bg-slate-300 text-black" id="main">
    <div class="flex items-center justify-between px-4 py-2 bg-emerald-700 text-white">
      <h1 class="text-2xl"><i class="ri-chat-smile-2-line"></i> ChatRoom</h1>
      <a href="/joinroom"
        class="px-4 py-2 bg-emerald-900 hover:bg-red-900 hover:transition-all hover:duration-300">Leave
        Room</a>
    </div>
    <div class="flex-1 bg-white flex overflow-y-auto">
      <div class="bg-emerald-500 px-4 py-2 w-[250px]">
        <div>
          <h1 class="text-white">Room Name:</h1>
          <h2 class="bg-emerald-200 w-max px-4 py-1 text-xl mt-1 mb-4">JavaScript</h2>
        </div>
        <div class="users">
          <h1 class="text-white mb-1"><i class="ri-group-line"></i> Users:</h1>
          <div class="userList flex flex-col gap-1 max-h-[540px] overflow-y-auto">
            <h2 class="bg-emerald-300 w-max px-2 py-1 text-sm uppercase">ASdsqwertrew</h2>
            <h2 class="bg-emerald-300 w-max px-2 py-1 text-sm uppercase">ASdsqwertrew</h2>
            <h2 class="bg-emerald-300 w-max px-2 py-1 text-sm uppercase">ASdsqwertrew</h2>
          </div>
        </div>
      </div>
      <div class="flex-1 p-4">
        <div class="messages space-y-4 max-h-[600px] overflow-y-auto">
          <div class="myside ml-16 text-white flex items-end flex-col mr-2">
            <h1 class="text-emerald-800">You</h1>
            <h2 class="w-max rounded-bl rounded-br rounded-tl px-2 bg-emerald-800">myside</h2>
          </div>
          <div class="common text-center text-emerald-900 bg-zinc-200 mr-2">common</div>
          <div class="otherside mr-16 text-white">
            <h1 class="other text-black">otherside</h1>
            <h2 class="w-max othermsg rounded-tr rounded-br rounded-bl px-2 bg-emerald-800">msgsddsd</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center gap-2 bg-emerald-700 px-4 py-2">
      <input class="w-full px-3 py-2 outline-none" type="text" name="inputMsg" id="inputMsg">
      <button class="bg-emerald-900 text-zinc-200 px-4 py-2">Send</button>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"
    integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/javascripts/chatroom.js"></script>
</body>

</html>