<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="bg-blue-200 h-screen flex flex-col">

  <!-- username input -->
  <div class="active flex items-center justify-center h-full">
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-sm">
      <h1 class="text-center font-semibold mb-2 text-2xl flex items-center justify-center">Chat Application <img
          class="h-14 w-14 ml-2" src="/images/icons8-wechat-94.webp" alt="Chatroom Logo"></h1>
      <div class="flex flex-col gap-4">
        <div class="flex flex-col">
          <label for="username" class="text-gray-700">Username</label>
          <input
            class="username border border-gray-300 bg-transparent outline-none px-3 py-2 rounded-md focus:ring-1 focus:ring-black"
            type="text" id="username" minlength="3" maxlength="12" required>
        </div>
        <div class="flex items-center justify-between">
          <button type="submit"
            class="join px-4 py-2 bg-black text-white rounded-md hover:bg-emerald-900 transition duration-200 cursor-pointer">
            Join +
          </button>
          <a href="/joinroom"
            class="logo px-4 py-2 bg-black text-white rounded-md hover:text-emerald-500 hover:ease-in-out hover:transition-all hover:duration-300 cursor-pointer">Join
            Chatroom
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- chatting-page -->
  <div class="chat hidden h-full w-full flex flex-col">

    <!-- Header -->
    <header
      class="bg-blue-800 bg-opacity-50 backdrop-filter backdrop-blur-lg text-white p-4 flex justify-between items-center rounded-b-lg shadow-lg max-[665px]:rounded-b-none">
      <div>
        <a href="/joinroom"
          class="text-lg font-bold hover:text-emerald-950 hover:ease-in-out hover:transition-all hover:duration-300 cursor-pointer">
          ChatRoom</a>
        <p class="text-sm">Welcome, <span id="yourName">Your Name</span></p>
      </div>
      <div class="flex items-center gap-4">
        <div class="onlineUsers flex items-center"><i class="ri-record-circle-line mr-1 text-red-600"></i><span></span>
        </div>
        <a href="/"
          class="exit bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-red-500">
          Exit
        </a>
      </div>
    </header>

    <!-- Users List and Message Display Area -->
    <div class="w-full flex flex-1 overflow-y-auto p-4 max-[665px]:p-0">

      <!-- users list -->
      <aside class="md:block min-w-[300px] bg-emerald-700 p-4 rounded-lg max-[665px]:hidden mb-4 md:mb-0 md:mr-4">
        <h2 class="text-lg font-bold mb-2 text-white flex flex-row items-center"><i class="ri-user-smile-line mr-1"></i>
          Online
          Users</h2>
        <ul class="usersList h-[94%] overflow-y-auto space-y-1">

        </ul>
      </aside>

      <!-- message container -->
      <div class="container w-full flex flex-col bg-gray-100 p-4 rounded-lg shadow-md max-[665px]:rounded-none">

        <!-- messages -->
        <div class="messageBox mb-4 w-full flex flex-col">
          <div class="mb-4 w-full messages">

          </div>
          <div class="typingIndicator text-sm text-gray-500 mb-2">

          </div>
        </div>

        <!-- message input -->
        <div class="bg-blue-50 rounded-t-lg shadow-inner flex items-center justify-center">
          <div class="flex w-full">
            <input type="text" placeholder="Type your message..."
              class="messageInput flex-1 border border-gray-500 outline-none rounded-lg px-4 py-2">
            <button type="submit"
              class="send ml-4 bg-blue-600 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 max-[377px]:ml-1">
              Send
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"
    integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>