<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/stylesheets/joinroom.css">
</head>

<body>
  <div id="main" class="w-full h-full bg-slate-300 flex items-center justify-center">
    <div class="flex flex-col items-center justify-center bg-emerald-700 text-white">
      <h1 class="text-3xl px-4 py-3">Chat-Room</h1>
      <form class="flex flex-col gap-2 bg-emerald-800 py-4 px-6" action="/chatroom">
        <div class="flex flex-col">
          <label class="" for="username">Username</label>
          <input class="px-2 py-1 text-black outline-none" type="text" name="username" id="username"
            placeholder="Enter Your Name ..." maxlength="12" required>
        </div>
        <div class="flex flex-col">
          <label for="room">Room</label>
          <select class="text-black p-1" name="room" id="room">
            <option value="JavaScript">JavaScript</option>
            <option value="Python">Python</option>
            <option value="Java">Java</option>
            <option value="Ruby">Ruby</option>
            <option value="C++">C++</option>
            <option value="C">C</option>
          </select>
        </div>
        <div class="flex items-center justify-between">
          <input
            class="bg-white text-black px-2 py-1 w-max hover:bg-emerald-950 hover:text-white hover:transition-all hover:duration-300 cursor-pointer"
            type="submit" value="Join Room">
          <a class="bg-white text-black px-2 py-1 w-max hover:bg-black hover:text-white hover:transition-all hover:duration-300 cursor-pointer"
            href="/">Back</a>
        </div>
      </form>
    </div>
  </div>
</body>

</html>