<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div id="main">
        <a href="/allUsers">see all users</a>
        <form action="/create" method="post">
            <input type="text" name="name" class="input name" placeholder="Enter your name">
            <input type="number" name="age" class="input age" placeholder="Enter your age">
            <input type="password" name="password" class="input password" placeholder="Enter password">
            <input type="submit" value="Create New User" class="input submit">
        </form>
    </div>
</body>
</html>