<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/search.css">
</head>
<body>
    <div id="main">
        <a href="/allUsers">see all users</a>
        <form action="/searchedUser" method="post">
            <input type="text" name="name" class="input name" placeholder="Enter your name">
            <input type="submit" value="Search User" class="input submit">
        </form>
    </div>
</body>
</html>