<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AuthMVC</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <form class="flex items-center m-2 gap-1" action="/login" method="post">
    <input class="border-gray-800 border-2 placeholder-gray-600 rounded-md px-2 pb-1" type="email" name="email" placeholder="Enter your email">
    <input class="border-gray-800 border-2 placeholder-gray-600 rounded-md px-2 pb-1" type="password" name="password" placeholder="Enter your password">
    <input class="border-gray-800 text-white placeholder-gray-600 rounded-md px-3 pb-1 bg-blue-500" type="submit" value="Log in">
  </form>
  <a class="border-gray-800 text-white placeholder-gray-600 rounded-md px-3 pb-1 bg-blue-500" href="/">Register</a>
</body>
</html>