<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: sans-serif;
    }

    html,
    body {
      width: 100%;
      height: 100%;
    }
  </style>
</head>

<body class="flex items-center justify-center">
  <div class="px-8 py-6 bg-emerald-900 h-max w-max rounded flex flex-col justify-center gap-4">
    <h1 class="text-white text-3xl text-center">Welcome to Omegle <br> Clone</h1>
    <a href="/chat" class="bg-white text-emerald-900 text-center font-semibold text-lg rounded py-1">Start
      Chat</a>
  </div>
</body>

</html>